body {
background-color: cornflowerblue;
font: normal 15pt Arial;
}

header{
   color: white;
   text-align: center;
}

section{
background-color: white;
border-radius: 2px;
padding: 7px;
width: 450px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer{
color: white;
text-align: center;
font-style: oblique;
}